<div class="new-comment">
  <%= form_with model:[book,book_comment],remote: true,id: 'new_comment' do |f| %>
    <%= f.text_area :comment,class:"form-control" %>
    <%= f.submit "送信" %>
  <% end %>
</div>